{{define "title"}}
<h1>{{ printf "%s #%d" .Title .Params.numero }}</h1>
{{ with .Params.ruolo }}
<p>{{ . }}</p>
{{ end }}
{{end}}

{{ define "content" }}
<p>Squadre:</p>
<ul>
    {{ $title := printf "%s%s" ( .RelPermalink | relURL ) "_index.md" }}
    {{ with $.Site.GetPage "squadre" }}
    {{ range .Pages }}
    {{ if in .Params.Giocatori (strings.TrimLeft "/" $title) }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Title }} ({{ .Params.stagioni }})</a>
    </li>
    {{ end }}
    {{ end }}
    {{ end }}
</ul>
{{ end }}