{{define "title"}}
<header>
    <div class="title">
        <h1>{{ printf "%s #%d" .Title .Params.numero }}</h1>
        {{ with .Params.ruolo }}
        <p>{{ . }}</p>
        {{ end }}
    </div>
</header>
{{end}}

{{ define "content" }}
<p>Squadre:</p>
<ul>
    {{ $giocatore := .File.BaseFileName }}
    {{ range (.Site.GetPage "squadre").Pages }}
    {{ $squadra := . }}
    {{ with in .Params.giocatori $giocatore }}
    <a href="{{ $squadra.RelPermalink }}">{{$squadra.Name }}</a>
    {{ end }}
    {{ end }}
</ul>
{{ end }}