{{ define "title" }}
<h1>{{ .Title }}</h1>
{{ with .Params.stagioni }}
<p> Stagione <b>{{ . }}</b></p>
{{ end }}
{{ end }}
{{ define "content" }}
{{ with .Params.foto }}
<img src="{{- .Params.foto -}}" alt="Foto di squadra {{ .Title }}" />
{{ else }}
<p>Nessuna foto di squadra... per ora ;)</p>
{{end}}
{{ $stagione := .Site.GetPage "/stagioni" .Params.stagioni }}
<p>Stagione: <a href="{{ $stagione.RelPermalink }}">{{ $stagione.Title }}</a></p>
<table>
    <thead>
        <th>Giocatore</th>
        <th>Ruolo</th>
    </thead>
    <tbody>
        {{ $k := .Site.GetPage "/giocatori" }}
        {{ range .Params.Giocatori }}
        {{ $page := $k.GetPage (. | urlize) }}
        <tr>
            <td><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></td>
            <td>
                {{with $page.Params.ruolo }}
                {{ . }}
                {{ else }}
                -
                {{end}}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
<a href="/partite/squadra/{{- .File.BaseFileName -}}">Partite di {{ .Title }}</a>
{{ .Content }}
{{ end }}