{{ define "title" }}
<h1 style="color: #20265a;">{{ .Title }}</h1>
{{ with .Params.stagioni }}
<p> Stagione <b>{{ . }}</b></p>
{{ end }}
{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col">
        <!-- FOTO -->
        {{ with .Params.foto }}
        <img class="img-fluid" src="{{- . -}}" alt="Foto di squadra {{ $.Title }}" />
        {{ else }}
        <div class="jumbotron border">Nessuna foto di squadra... per ora ;)</div>
        {{end}}
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <!-- ALLENATORI -->
        {{ with .Params.allenatori }}
        <h3>Allenatori:</h3>
        <table class="table table-striped">
            <thead>
                <th>Nome</th>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td>
                        {{ $allenatore := $.Site.GetPage ( replace . "_index.md" "" ) }}
                        {{ with $allenatore }}
                        <a href="{{ $allenatore.RelPermalink }}">{{ $allenatore.Title }}</a>
                        {{ else }}
                        {{ . }}
                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>
    <div class="col-12 col-md-6">
        <!-- GIOCATORI -->
        {{ with .Params.giocatori }}
        <h3>Giocatori:</h3>
        <table class="table table-striped">
            <thead>
                <th>Nome</th>
                <th>Ruolo</th>
            </thead>
            <tbody>
                {{ range . }}
                {{ $giocatore := $.Site.GetPage ( path.Dir . ) }}
                {{ with $giocatore }}
                <tr>
                    <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
                    <td>
                        {{with .Params.ruolo }}
                        {{ . }}
                        {{ else }}
                        -
                        {{end}}
                    </td>
                </tr>
                {{ end }}
                {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ .Content }}
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="/partite/squadra/{{- .File.BaseFileName -}}">Partite di {{ .Title }}</a>
    </div>
</div>
{{ end }}