.sponsors {
    margin: 0 auto;
    box-shadow: none;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    border-right: solid 1px rgba(160, 160, 160, 0.3);
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    padding: 0 4.5em;
}
body {
    padding-top: 8rem;
}
body > header {
    background-color: #20265a;
    display: flex;
    align-items: center;
}
body > footer {
    background-color: #20265a;
}
.menu-links {
    padding: 0 3rem;
    color: #fff;
}
.menu-links:hover {
    color: #fff;
}
.nav-tabs {
    margin-bottom: 1rem;
}
.title h1 {
    margin: 2rem 0;
}