{{ define "title" }}
<h1>
    {{ with .Site.GetPage "squadre" }}
    {{ with .GetPage ($.Param "squadra-a") }}
    <a href="{{.RelPermalink}}">{{ .Title }}</a>
    {{ else }}
    {{ $.Param "squadra-a" }}
    {{ end }}
    {{ if now.After .PublishDate  }}
    {{ $.Param "punteggio-a" }} -
    {{ end }}
    {{ with .GetPage ($.Param "squadra-b") }}
    <a href="{{.RelPermalink}}">{{ .Title }}</a>
    {{ else }}
    {{ $.Param "squadra-b" }}
    {{ end }}
    {{ if now.After .PublishDate  }}
    {{ $.Param "punteggio-b" }}
    {{ end }}
    {{ end }}
</h1>
{{ end }}
{{ define "content" }}
<p>{{ .Params.categoria }}</p>
<p>{{ .Date }}</p>
<p>{{ .Params.luogo }}</p>
{{ if now.Before .PublishDate }}
<p>{{ .PublishDate }}</p>
{{ else }}
{{ .Content }}
{{ end }}
TODO: <strong>fare la navigazione!</strong>
{{ end }}