{{ define "title" }}
<h1>
    <!--  -->
    {{ with .Site.GetPage "squadre" }}
    {{ with .GetPage ($.Param "squadra-a") }}
    <a href="{{.RelPermalink}}">{{ .Title }}</a>
    {{ else }}
    {{ $.Param "squadra-a" }}
    {{ end }}
    {{ if now.After .PublishDate  }}
    {{ $.Param "punteggio-a" }} -
    {{ end }}
    {{ with .GetPage ($.Param "squadra-b") }}
    <a href="{{.RelPermalink}}">{{ .Title }}</a>
    {{ else }}
    {{ $.Param "squadra-b" }}
    {{ end }}
    {{ if now.After .PublishDate  }}
    {{ $.Param "punteggio-b" }}
    {{ end }}
    {{ end }}
</h1>
{{ end }}
{{ define "content" }}
{{ if now.Before .PublishDate  }}
<p>{{ .PublishDate }}</p>
{{ .Content }}
{{ end }}
{{ end }}