{{ partial "general-title" . }}

{{ partial "header" . }}
{{ partial "navbar" . }}
<!-- Main -->
<section class="banner-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content">
                    {{ block "title" . }}
                    {{ .Render "header" }}
                    {{ end}}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="welcome-area pt-60 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ block "content" . }}
                {{ .Content }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
<!--{{ partial "sidebar" . }}-->
{{ partial "footer" . }}