{{ partial "general-title" . }}

{{ partial "header" . }}
{{ partial "navbar" . }}
<!-- Main -->
<div id="main">
    <article class="post">
        <header>
            <div class="title">
                {{ block "title" . }}
                {{ .Render "header" }}
                {{ end}}
            </div>
        </header>
        <div id="content">
            {{ block "content" . }}
            {{ .Content }}
            {{ end }}
        </div>
    </article>
</div>
{{ partial "sidebar" . }}
{{ partial "footer" . }}