<div class="col-lg-6 col-md-6">
    <div class="single-product">
        <div class="product-img">
            <a href="{{ .RelPermalink }}">
                {{ with .Params.image }}
                <img src="{{ . }}" alt="{{ $.Title }}">
                {{ end }}
            </a>
        </div>
        <div class="product-content">
            <h3 class="name"><a href="{{ .RelPermalink }}">
                {{ if .IsPage }}
                    {{ .Title }}
                {{ else if eq .Kind "term" }}
                    {{ .Data.Term }}
                {{ end }}
            </a></h3>
            {{ if .IsPage }}
            <span class="update"><i class="lni lni-calendar"></i> {{ partial "date" . }}</span>
            <div class="product-bottom">
                <p class="address">
                    {{ .Summary | truncate 70 }}
                    <a href="{{ .RelPermalink }}">Continua a leggere</a>
                </p>
            </div>
            {{ end }}
        </div>
    </div>
</div>