{{ define "title" }}
<h1 class="text-white">{{ .Title }}</h1>
<p>📅<span class="text-white-50">{{ partial "date" . }}</span></p>
{{ end }}
{{ define "content" }}
<div class="row box-style main-content">
    <div class="col-12">
        {{ .Content }}
    </div>
</div>
<div class="bxslider">
    {{ range ((.Site.GetPage "sponsors").Resources.ByType "page") }}
      <a href="{{ .Params.web }}"><img src="{{ .Params.logo }}" title="{{ .Title }}"></a>
    {{ end }}
</div>
<div class="row">
    <div class="col-12">
        <nav aria-label="navigation">
            <ul class="pagination">
                {{ with .PrevInSection }}
                <li class="page-item">
                    <a class="page-link" href="{{ .RelPermalink }}">
                        < {{.Title}}</a>
                </li>
                {{ end }}
                {{ with .NextInSection }}
                <li class="page-item">
                    <a class="page-link" href="{{ .RelPermalink }}"> {{.Title}} ></a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</div>
{{ end }}