<footer>
  <div>
    <p>Basket Club Gardolo 2000 ASD</p>
    <p>via Soprasasso, 1 - Gardolo</p>
    <p>38121 TRENTO</p>
    <p>C.F. 96005430226</p>
    <p>P.I. 01140120229</p>
  </div>
  <div>
    <h3>Contatti:</h3>
    <p>info@basketgardolo.it</p>
    <p>335-5389483</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- jQuery plugin per mostrare il carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
  $(function () {
    $('.bxslider').bxSlider({
      auto: true,
      minSlides: 2,
      maxSlides: 100,
      slideWidth: 125,
      slideMargin: 10,
      pager: false,
      controls: false,
      wrapperClass: 'bx-wrapper sponsors'
    });
  });
</script>
</body>

</html>