{{/*  TODO mettere colore footer come nella navbar  */}}
<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img height="70" src="/images/logo_VINTAGE.png">
        <ul class="list-unstyled">
          <li>© 2020</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Basket Club Gardolo 2000 ASD</h5>
        <ul class="list-unstyled">
          <li>via Soprasasso, 1 - Gardolo</li>
          <li>38121 TRENTO</li>
          <li>C.F. 96005430226</li>
          <li>P.I. 01140120229</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contatti:</h5>
        <ul class="list-unstyled">
          <li>✉️ info@basketgardolo.it</li>
          <li>📞 335-5389483</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Squadre:</h5>
        {{ $anno := printf "%d-%d" now.Year (now.AddDate 1 0 0).Year }}
        {{ if le now.Month 7 }}
        {{ $anno = printf "%d-%d" (now.AddDate -1 0 0).Year now.Year }}
        {{ end }}
        <ul class="list-unstyled">
          {{ $squadre := .Site.GetPage "/squadre"}}
          {{ range $squadre.Pages }}
          <li>
            <a class="text-muted" href="{{.RelPermalink}}">
              {{ .Title }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- jQuery plugin per mostrare il carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
  $(function () {
    $('.bxslider').bxSlider({
      auto: true,
      minSlides: 2,
      maxSlides: 100,
      slideWidth: 125,
      slideMargin: 10,
      pager: false,
      controls: false,
      wrapperClass: 'bx-wrapper sponsors'
    });
  });
</script>
{{ with .Scratch.Get "calendar" }}
<script src='/js/moment.min.js'></script>
<script src='/js/jquery-ui.custom.min.js'></script>
<script src='/js/fullcalendar.min.js'></script>
<script>
  $(document).ready(function () {
    console.log("Ready...");
    $('#calendar').fullCalendar({
      events: '/partite/index.json'
    })
  });
</script>
{{ end }}
</body>

</html>