<!-- Sidebar -->
<section id="sidebar">
  <div class="sidebar-wrapper" style="margin-top: -140px; position: relative; z-index: 1;">
  {{ if or (eq .Section "squadre") (eq .Section "partite") }}
  {{ $t := .Site.GetPage (printf "/partite/squadra/%s" (path.Base .RelPermalink)) }}
  {{ if not $t.Data }}
  {{ $t = .Site.GetPage (printf "/partite/squadra/%s" (.Param `partite/squadra`)) }}
  {{ end }}
  {{ if $t.Data }}

  <!-- Prossima partita -->
  {{ $next := index (where (index $t.Data "partite/squadre").Pages.ByDate "Date" ">" now) 0 }}
  {{ if $next }}
  <section class="box-style sidebar-category">
    <header>
      <h3 class="mb-30">Prossima partita</h3>
      <ul class="most-popular-tags">
        <li>
          <a href="{{ $next.RelPermalink }}"><span>{{ $next.Title }}</span> <span class="right">></span></a>
          <time class="date" datetime='{{ $next.Date.Format "2006-01-02" }}'>
            {{ partial "date" $next }}
          </time>
        </li>
      </ul>
    </header>
  </section>
  {{ end }}

  <!-- Ultime partite -->
  <section class="box-style sidebar-category">
    <header>
      <h3 class="mb-30">Ultime partite</h3>
      <ul class="most-popular-tags">
        {{ range first 5 (where (index $t.Data "partite/squadre").Pages.ByDate.Reverse "Date" "<" now) }}
        <li>
          <a href="{{ .Page.RelPermalink }}"><span>{{ .Page.Title }}</span> <span class="right">></span></a>
          <time class="date" datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ partial "date" . }}
          </time>
        </li>
        {{ end }}
      </ul>
    </header>
  </section>
  {{ end }}
  {{ else }}
  <!-- Posts List -->
  <section class="recent-posts box-style sidebar-category">
    <div class="mini-posts">
      <header>
        <h3 class="mb-30">Ultime news</h3>
      </header>
      <div class="posts-container">
        {{ $.Scratch.Set "recentPosts" .Site.Pages }}

        {{ with .Site.Params.postAmount.sidebar }}
          {{ $.Scratch.Set "postLimit" . }}
        {{ else }}
          {{ $.Scratch.Set "postLimit" 5 }}
        {{ end }}
        <ul>
        {{ range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "news") }}
        <li>
          <a href="{{ .RelPermalink }}"><span>{{ .Title }}</span> <span class="right">></span></a>
          <time class="date" datetime='{{ .Date.Format "2006-01-02" }}'>
           {{ partial "date" . }}
          </time>
        </li>
        {{ end }}
        </ul>
      </div>

      {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
        <a href=
          {{ with .Site.Params.viewMorePostLink }}
            {{ . }}
          {{ else }}
            "/post/"
          {{ end }}
        class="button">View more posts</a>
      {{ end }}
    </div>
  </section>
  {{ end }}
  <!-- This if statement only applies if someone goes to the /categories url -->
  <!-- Otherwise this section is shown for all other links -->
  {{ if .Site.Params.showSidebarCategories  }}
  {{ if ne ($.Scratch.Get "showCategories") false }}
  <!-- Categories List -->
    <section id="categories">
      <header>
        <h3>
          <a href="/categories/">Categories</a>
        </h3>
      </header>
        {{ if .Site.Params.categoriesByCount }}
          {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
        {{ else }}
          {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
        {{ end }}

        {{ range $key, $value := $.Scratch.Get "categories" }}
        <p>
          <article>
            <header>
              {{ if ne $value.Name "" }}
                <a href="/categories/{{ $value.Name | urlize }}/">{{ $value.Name }}</a>
                <span style="float:right;">{{ $value.Count }}</span>
              {{ else }}
                Uncategorized
                <span style="float:right;">{{ $value.Count }}</span>
              {{ end }}
            </header>
          </article>
        </p>
        {{ end }}
    </section>
  {{ end }}
  {{ end }}
  
  <!-- Sponsors -->
  <section id="sponsors" class="box-style">
    <h3 class="mb-30">Sponsor</h3>
    {{ .Render "sponsors" }}
  </section>
  <!-- Footer -->
  <section id="footer" class="box-style">
    <h3 class="mb-30">I nostri social</h3>
    <ul class="social">
      <li><a href="https://www.facebook.com/basketgardolo"><i class="lni lni-facebook-filled"></i></a></li>
      <li><a href="https://t.me/joinchat/AAAAAFUZtMSGyKFAmeO6EA"><i class="lni lni-telegram-original"></i></a></li>
      <li><a href="https://www.instagram.com/basketgardolo"><i class="lni lni-instagram-filled"></i></a></li>
    </ul>
    <p class="copyright">
      &copy; {{ .Site.Title }}.
      Powered by <a href="//gohugo.io" target="_blank">Hugo</a>
    </p>
  </section>
  </div>
</section>
