{{ define "content" }}
<section class="welcome-area pt-60 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" id="societa-tabs" role="tablist">
                    {{ range $index, $page := .Pages}}
                    <li class="nav-item" role="presentation">
                        {{ $class := "" }}
                        {{ if eq $index 0 }}
                        {{ $class = "active" }}
                        {{ end }}
                        <a class="nav-link {{ $class }}" id="{{ $index }}-tab" href="#content-{{ $index }}"
                            data-bs-toggle="tab" role="tab" aria-controls="content-{{ $index }}" aria-selected="false">
                            {{ .Title }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
                <div class="tab-content" id="societa-tabsContent">
                    {{ range $index, $page := .Pages }}
                    {{ $class := "" }}
                    {{ if eq $index 0 }}
                    {{ $class = "active show" }}
                    {{ end }}
                    <div class="tab-pane fade {{ $class }}" id="content-{{ $index }}" role="tabpanel"
                        aria-labelledby="{{ $index }}-tab">
                        {{ .Content }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}