<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Allenatori</title>
        <link rel="stylesheet" href="static/css/basketgardolo.css">
        <style>

            header {
                padding: 10px;
                text-align: right;
                background-color: #20265a;
                color: white;
            }
            
            footer {
            padding: 10px;
            background-color: #20265a;
            color: white;
            }
            
        </style>
    </head>
    <body>
        <!-- HEADER: START -->
        <header>
            <div class="jumbotron text-center" style="background-color: #20265a;">
                <div class="col-sm-3">
                    <a href="index.html">
                        <img src="/basketgardolo.it/static/images/logo_VECCHIO.png" alt="Logo Gardolo">
                    </a>
                </div>
                <div class="col-sm-2">
                    <h3><a href="societa.html" style="color: white;">La Società</a></h3>
                </div>
                <div class="col-sm-2">
                    <div id="accordionSquadre">
    
                        <div class="card">
                          <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#squadre" style="color: white;">
                                <h3>Le Squadre</h3>
                            </a>
                          </div>
                        </div>
                        <div id="squadre" class="collapse" data-parent="#accordionSquadre">
                            <div class="card-body">
                                <div class="container-fluid" style="background-color: #20265a;">
                                    <div class="row" style="text-align: center;">
                                        <table>
                                            <tr>
                                                <td>
                                                    Serie D
                                                </td>
                                                <td>
                                                    U18A
                                                </td>
                                                <td>
                                                    Esordienti
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Promozione
                                                </td>
                                                <td>
                                                    U18B
                                                </td>
                                                <td>
                                                    Aquilotti
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <!-- VUOTA -->
                                                </td>
                                                <td>
                                                    U16
                                                </td>
                                                <td>
                                                    Scoiattoli
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <!-- VUOTA -->
                                                </td>
                                                <td>
                                                    U13
                                                </td>
                                                <td>
                                                    Pulcini
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- più corretta ma da sistemare
                                        <div class="col-sm-4">
                                            <p>Serie D</p>
                                            <p>Promozione</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>U18A</p>
                                            <p>U18B</p>
                                            <p>U16</p>
                                            <p>U13</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>Esordienti</p>
                                            <p>Aquilotti</p>
                                            <p>Scoiattoli</p>
                                            <p>Pulcini</p>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- <h3><a href="#" style="color: white;">Le Squadre</a></h3>-->
                </div>
                <div class="col-sm-2">
                    <h3><a href="#" style="color: white;">Allenatori</a></h3>
                </div>
                <div class="col-sm-1">
                    <h3><a href="#" style="color: white;">News</a></h3>
                </div>
                <div class="col-sm-2">
                    <h3><a href="#" style="color: white;">Iscrizione</a></h3>
                </div>
            </div>
    
        </header>
        <!-- SPONSORS -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bxslider">
                        {{ range ((.Site.GetPage "sponsors").Resources.ByType "page") }}
                        <a href="{{ .Params.web }}"><img src="{{ .Params.logo }}" title="{{ .Title }}"></a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
            
        <!-- HEADER: END -->
    
        <!-- MAIN: START -->

        <div class="container-fluid">
            <div class="col-sm-6" style="align-content: center;">
                <div class="row">
                    <p style="text-align: center;">
                        <canvas id="CanvasD" width="300" height="200" style="border:1px solid #000000;">
                        </canvas>
                        <script>
                            var c = document.getElementById("CanvasD");
                            var ctx = c.getContext("2d");
                            ctx.font = "30px Arial";
                            ctx.strokeText("Foto Allenatori Serie D", 10, 50);
                        </script>
                    </p>
                    <p style="text-align: center;">
                        Serie D
                    </p>
                </div>
                <div class="row">
                    <p style="text-align: center;">
                        <canvas id="CanvasPromo" width="300" height="200" style="border:1px solid #000000;">
                        </canvas>
                        <script>
                            var c = document.getElementById("CanvasPromo");
                            var ctx = c.getContext("2d");
                            ctx.font = "30px Arial";
                            ctx.strokeText("Foto Allenatori Promozione", 10, 50);
                        </script>
                    </p>
                    <p style="text-align: center;">
                        Promozione
                    </p>
                </div>
            </div>
            <div class="col-sm-6" style="align-content: center;">
                <div class="row">
                    <p style="text-align: center;">
                        <canvas id="CanvasEso" width="300" height="200" style="border:1px solid #000000;">
                        </canvas>
                        <script>
                            var c = document.getElementById("CanvasEso");
                            var ctx = c.getContext("2d");
                            ctx.font = "30px Arial";
                            ctx.strokeText("Foto Istruttori Esordienti", 10, 50);
                        </script>
                    </p>
                    <p style="text-align: center;">
                        Esordienti
                    </p>
                </div>
                <div class="row">
                    <p style="text-align: center;">
                        <canvas id="CanvasAqui" width="300" height="200" style="border:1px solid #000000;">
                        </canvas>
                        <script>
                            var c = document.getElementById("CanvasAqui");
                            var ctx = c.getContext("2d");
                            ctx.font = "30px Arial";
                            ctx.strokeText("Foto Istruttori Aquilotti", 10, 50);
                        </script>
                    </p>
                    <p style="text-align: center;">
                        Aquilotti
                    </p>
                </div>
            </div>
        </div>

        <!-- MAIN: END -->

        <!-- FOOTER: START -->
        <footer>
            <div class="jumbotron text-center" style="background-color: #20265a;">
                <div class="col-sm-5" style="text-align: left">
                    <p>Basket Club Gardolo 2000 ASD</p>
                    <p>via Soprasasso, 1 - Gardolo</p>
                    <p>38121 TRENTO</p>
                    <p>C.F. 96005430226</p>
                    <p>P.I. 01140120229</p>
                </div>
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-4" style="text-align: right">
                    <p><h3>Contatti:</h3></p>
                    <p>info@basketgardolo.it</p>
                    <p>335-5389483</p>
                </div>
            </div>
            

            <div class="row">
                
                
            </div>
        </footer>
        <!-- FOOTER: END -->
    </body>
</html>