<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iscrizione</title>
        <link rel="stylesheet" href="static/css/basketgardolo.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>

            header {
                padding: 10px;
                text-align: right;
                background-color: #20265a;
                color: white;
            }
            
            footer {
            padding: 10px;
            background-color: #20265a;
            color: white;
            }
            
        </style>
    </head>
    <body>
        <!-- HEADER: START -->
        <header>
            <div class="jumbotron text-center" style="background-color: #20265a;">
                <div class="col-sm-3">
                    <a href="index.html">
                        <img src="/basketgardolo.it/static/images/logo_VECCHIO.png" alt="Logo Gardolo">
                    </a>
                </div>
                <div class="col-sm-2">
                    <h3><a href="#" style="color: white;">La Società</a></h3>
                </div>
                <div class="col-sm-2">
                    <div id="accordionSquadre">

                        <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#squadre" style="color: white;">
                                <h3>Le Squadre</h3>
                            </a>
                        </div>
                        </div>
                        <div id="squadre" class="collapse" data-parent="#accordionSquadre">
                            <div class="card-body">
                                <div class="container-fluid" style="background-color: #20265a;">
                                    <div class="row" style="text-align: center;">
                                        <table>
                                            <tr>
                                                <td>
                                                    Serie D
                                                </td>
                                                <td>
                                                    U18A
                                                </td>
                                                <td>
                                                    Esordienti
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Promozione
                                                </td>
                                                <td>
                                                    U18B
                                                </td>
                                                <td>
                                                    Aquilotti
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <!-- VUOTA -->
                                                </td>
                                                <td>
                                                    U16
                                                </td>
                                                <td>
                                                    Scoiattoli
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <!-- VUOTA -->
                                                </td>
                                                <td>
                                                    U13
                                                </td>
                                                <td>
                                                    Pulcini
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- più corretta ma da sistemare
                                        <div class="col-sm-4">
                                            <p>Serie D</p>
                                            <p>Promozione</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>U18A</p>
                                            <p>U18B</p>
                                            <p>U16</p>
                                            <p>U13</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>Esordienti</p>
                                            <p>Aquilotti</p>
                                            <p>Scoiattoli</p>
                                            <p>Pulcini</p>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <h3><a href="#" style="color: white;">Le Squadre</a></h3>-->
                </div>
                <div class="col-sm-2">
                    <h3><a href="allenatori.html" style="color: white;">Allenatori</a></h3>
                </div>
                <div class="col-sm-1">
                    <h3><a href="#" style="color: white;">News</a></h3>
                </div>
                <div class="col-sm-2">
                    <h3><a href="#" style="color: white;">Iscrizione</a></h3>
                </div>
            </div>

        </header>

        <!-- MAIN: START -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    Per chi desidera compilare l’iscrizione cartacea può scaricare il modulo in pdf e consegnarlo in segreteria o all’allenatore di riferimento.<br>

                    Di seguito tutti i moduli necessari per l’iscrizione:<br>

                    Richiesta visita al pediatra<br>
                    ASSICURAZIONE BASE FIP<br>
                    ASSICURAZIONE INTEGRATIVA ITAS (contatto diretto per la nostra convenzione è Garofalo Marco, cel +39 3475052306<br>
                    Iscrizione_2019-2020_MINIBASKET		Download<br>

                    Iscrizione_2019-2020_BASKET			Download<br>

                    Iscrizione_2019-2020_SERIED			Download<br>

                    ⚠ Allenatori , date e orari sono disponibili sulle pagine delle rispettive categorie ⚠<br>

                    L’ufficio di segreteria in via Soprassasso 1 (ex Circoscrizione di Gardolo) provvederà al ritiro/consegna delle iscrizioni cartacee e delle visite mediche e sarà a disposizione per qualsiasi necessità e chiarimento dalle ore 18:00 alle ore 20:00:<br>

                    Tutti i lunedì dal 02 settembre fino al 28 ottobre 2019<br>
                    Apertura straordinaria tutti i giorni da lunedì 30 settembre a venerdì 11 ottobre compresi<br>
                    PAGAMENTO QUOTA D’ISCRIZIONE<br>

                    La quota di iscrizione deve essere versata entro il 30 settembre 2019 a mezzo BONIFICO BANCARIO sul ns. c/c presso la Cassa Rurale di Trento. <br>

                    IBAN: IT58 P083 0401 8000 0000 4301 545 CAUSALE:<br>

                    QUOTA 2019/20 – NOME E COGNOME DELL’ATLETA <br>

                    Si precisa che eventuali ritiri, abbandoni e/o espulsioni disciplinari durante la stagione sportiva NON PREVEDONO la restituzione della quota versata. Il mancato pagamento impedirà l’accesso alla palestra.<br>
                
                    <p style="text-align: center;">
                        <button data-toggle="collapse" data-target="#formIscrizione" class="btn btn-warning">Iscrizione Online</button><br>
                    </p>

                    <!-- TODO: ADEGUARE FORM PER ISCRIZIONE ONLINE -->
                    <div id="formIscrizione" class="collapse">
                        <form action="/action_page.php">
                            <div class="form-group">
                              <label for="email">Email address:</label>
                              <input type="email" class="form-control" placeholder="Enter email" id="email">
                            </div>
                            <div class="form-group">
                              <label for="pwd">Password:</label>
                              <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                            </div>
                            <div class="form-group form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"> Remember me
                              </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                    </div>
                </div>
    
                <div class="col-sm-3" style="background-color: gray;">
                    <div class="bxslider">
                        {{ range (.Site.GetPage "sponsors").Pages }}
                        <a href="{{ .Params.web }}"><img src="{{ .Params.logo }}" title="{{ .Title }}" style="width: 10%;"></a>
                        {{ end }}
                    </div>
                </div>
                
            </div> 
        </div>
        <!-- MAIN: END -->

        <!-- FOOTER: START -->
        <footer>
            <div class="jumbotron text-center" style="background-color: #20265a;">
                <div class="col-sm-5" style="text-align: left">
                    <p>Basket Club Gardolo 2000 ASD</p>
                    <p>via Soprasasso, 1 - Gardolo</p>
                    <p>38121 TRENTO</p>
                    <p>C.F. 96005430226</p>
                    <p>P.I. 01140120229</p>
                </div>
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-4" style="text-align: right">
                    <p><h3>Contatti:</h3></p>
                    <p>info@basketgardolo.it</p>
                    <p>335-5389483</p>
                </div>
            </div>
            

            <div class="row">
                
                
            </div>
        </footer>
        <!-- FOOTER: END -->
    </body>
</html>