<div class="container-fluid">
    <div class="col-sm-8 col-sm-offset-2" style="align-content: center;">
        <div class="row">
            <h1 style="color: #20265a; text-align: center;"><strong>Serie D</strong></h1>
            <h3 style="color: #20265a"><strong>Allenatore:</strong> Fabrizio Guastamacchia</h3>
            <h3 style="color: #20265a"><strong>Assistente:</strong> Marco Paoli</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Giocatore</th>
                        <th>PTS</th>
                        <th>G</th>
                        <th>PPG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5</td>
                        <td>
                            <canvas id="CanvasPromo" width="20" height="30" style="border:1px solid #000000;"></canvas>
                            John Doe
                        </td>
                        <td>51</td>
                        <td>10</td>
                        <td>5.1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <canvas id="CanvasPromo" width="20" height="30" style="border:1px solid #000000;"></canvas>
                            Marion Moe
                        </td>
                        <td>15</td>
                        <td>3</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <canvas id="CanvasPromo" width="20" height="30" style="border:1px solid #000000;"></canvas>
                            July Dooley
                        </td>
                        <td>100</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-12">
        <div class="row">
            <!-- TODO: CAROSELLO MINIATURE FOTOGRAFIE GIOCATORI -->
            <canvas id="CanvasPromo" width="200" height="200" style="border:1px solid #000000;"></canvas>
            <canvas id="CanvasPromo" width="200" height="200" style="border:1px solid #000000;"></canvas>
            <canvas id="CanvasPromo" width="200" height="200" style="border:1px solid #000000;"></canvas>
            <canvas id="CanvasPromo" width="200" height="200" style="border:1px solid #000000;"></canvas>
            <canvas id="CanvasPromo" width="200" height="200" style="border:1px solid #000000;"></canvas>
            <canvas id="CanvasPromo" width="200" height="200" style="border:1px solid #000000;"></canvas>
            <canvas id="CanvasPromo" width="200" height="200" style="border:1px solid #000000;"></canvas>
        </div>
    </div>
    <div class="col-sm-4">
        <h1 style="color: #20265a; text-align: center;"><strong>Ultima partita</strong></h1>
    </div>
    <div class="col-sm-4">
        <h1 style="color: #20265a; text-align: center;"><strong>Prossime partite</strong></h1>
    </div>
    <div class="col-sm-4">
        <h1 style="color: #20265a; text-align: center;"><strong>Partite passate</strong></h1>
    </div>
</div>