<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>La Società</title>
	<link rel="stylesheet" href="static/css/basketgardolo.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<!-- HEADER: START -->
	<header>
		<div class="jumbotron text-center" style="background-color: #20265a;">
			<div class="col-sm-3">
				<a href="index.html">
					<img src="/basketgardolo.it/static/images/logo_VECCHIO.png" alt="Logo Gardolo">
				</a>
			</div>
			<div class="col-sm-2">
				<h3><a href="#" style="color: white;">La Società</a></h3>
			</div>
			<div class="col-sm-2">
				<div id="accordionSquadre">

					<div class="card">
						<div class="card-header">
							<a class="card-link" data-toggle="collapse" href="#squadre" style="color: white;">
								<h3>Le Squadre</h3>
							</a>
						</div>
					</div>
					<div id="squadre" class="collapse" data-parent="#accordionSquadre">
						<div class="card-body">
							<div class="container-fluid" style="background-color: #20265a;">
								<div class="row" style="text-align: center;">
									<table>
										<tr>
											<td>
												<a href="singolaSquadra.html" style="color: white;">Serie D</a></h3>
											</td>
											<td>
												U18A
											</td>
											<td>
												Esordienti
											</td>
										</tr>
										<tr>
											<td>
												Promozione
											</td>
											<td>
												U18B
											</td>
											<td>
												Aquilotti
											</td>
										</tr>
										<tr>
											<td>
												<!-- VUOTA -->
											</td>
											<td>
												U16
											</td>
											<td>
												Scoiattoli
											</td>
										</tr>
										<tr>
											<td>
												<!-- VUOTA -->
											</td>
											<td>
												U13
											</td>
											<td>
												Pulcini
											</td>
										</tr>
									</table>
									<!-- più corretta ma da sistemare
									<div class="col-sm-4">
										<p>Serie D</p>
										<p>Promozione</p>
									</div>
									<div class="col-sm-4">
										<p>U18A</p>
										<p>U18B</p>
										<p>U16</p>
										<p>U13</p>
									</div>
									<div class="col-sm-4">
										<p>Esordienti</p>
										<p>Aquilotti</p>
										<p>Scoiattoli</p>
										<p>Pulcini</p>
									</div>
									-->
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- <h3><a href="#" style="color: white;">Le Squadre</a></h3>-->
			</div>
			<div class="col-sm-2">
				<h3><a href="allenatori.html" style="color: white;">Allenatori</a></h3>
			</div>
			<div class="col-sm-1">
				<h3><a href="#" style="color: white;">News</a></h3>
			</div>
			<div class="col-sm-2">
				<h3><a href="iscrizione.html" style="color: white;">Iscrizione</a></h3>
			</div>
		</div>

	</header>
	<!-- HEADER: END -->

	<!-- MAIN: START -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div id="accordion">

					<div class="card">
						<div class="card-header">
							<a class="card-link" data-toggle="collapse" href="#societa">
								La Società
							</a>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#direttivo">
								Direttivo
							</a>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#contatti">
								Contatti e luoghi
							</a>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#trasparenza">
								Trasparenza
							</a>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#iscrizione">
								Modulistica e iscrizione
							</a>
						</div>
					</div>

				</div>
			</div>

			<div class="col-sm-7">
				<div id="societa" class="collapse show" data-parent="#accordion">
					<div class="card-body">
						La società Gardolo basket 2000 nasce nel 1981 in un bar da un’idea di tre appassionati che
						riescono a realizzare il sogno di una vita. Inizialmente cominciano solo con l’attività senior
						ma dopo pochi anni si è allargata al settore giovanile e al settore femminile.

						Dall’inizio degli anni 90 il settore Minibasket è diventato un fattore importante e trainante
						della società, che è riuscito a far crescere diversi giocatori fino a permettere alla società di
						disputare anche il campionato di serie C2. Venne chiamata Gardolo 2000 perché vedevano quella
						data come un traguardo lontano e difficile da raggiungere per una nuova società nata in una
						piccola periferia.

						Oggi però, nel 2019 vanta un gran numero di iscritti e un buon team di istruttori e allenatori
						che permettono a più di un centinaio di bambini e ragazzi di divertirsi in palestra migliorando
						giorno dopo giorno.

						Il Basket Club Gardolo 2000 copre tutte le categorie del minibasket e quasi tutte quelle
						giovanili con ben due squadre in U18, una in promozione e la squadra di punta in serie D!
					</div>
				</div>

				<div id="direttivo" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<!-- TODO: AGGIUNGERE SCHEMINO DIRETTIVO -->
					</div>
				</div>

				<div id="contatti" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<!-- TODO: AGGIUNGERE CONTATTI E LUOGHI (PALESTRE SEDE ECC) -->
					</div>
				</div>

				<div id="trasparenza" class="collapse" data-parent="#accordion">
					<div class="card-body">
						Ai sensi dell’art. 1 co. 125 della legge 124/2017 si espongono di seguito le informazioni
						relative a contributi,

						sovvenzioni o altre forme di vantaggio economico ricevute da Pubbliche Amministrazioni e Società

						Partecipate nel corso dell’anno 2018:

						Denominazione Soggetto Erogante Tipologia Importo Data di Incasso

						Comune di Trento Contributo € 10.689,00 31/12/2018

						Provincia Autonoma di Trento Contributo € 1.250,00 08/05/2018

						Circoscrizione 01 – Gardolo Contributo € 350,00 07/05/2018
					</div>
				</div>

				<div id="iscrizione" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<!-- TODO: PULSANTE PER FORM ISCRIZIONE ONLINE -->
						<p style="text-align: center;">
							<a href="iscrizione.html" class="btn btn-warning" role="button">Iscrizione Online</a><br>
						</p>

						Per chi desidera compilare l’iscrizione cartacea può scaricare il modulo in pdf e consegnarlo in
						segreteria o all’allenatore di riferimento.

						Di seguito tutti i moduli necessari per l’iscrizione:

						Richiesta visita al pediatra
						ASSICURAZIONE BASE FIP
						ASSICURAZIONE INTEGRATIVA ITAS (contatto diretto per la nostra convenzione è Garofalo Marco, cel
						+39 3475052306
						Iscrizione_2019-2020_MINIBASKET Download

						Iscrizione_2019-2020_BASKET Download

						Iscrizione_2019-2020_SERIED Download

						⚠ Allenatori , date e orari sono disponibili sulle pagine delle rispettive categorie ⚠

						L’ufficio di segreteria in via Soprassasso 1 (ex Circoscrizione di Gardolo) provvederà al
						ritiro/consegna delle iscrizioni cartacee e delle visite mediche e sarà a disposizione per
						qualsiasi necessità e chiarimento dalle ore 18:00 alle ore 20:00:

						Tutti i lunedì dal 02 settembre fino al 28 ottobre 2019
						Apertura straordinaria tutti i giorni da lunedì 30 settembre a venerdì 11 ottobre compresi
						PAGAMENTO QUOTA D’ISCRIZIONE

						La quota di iscrizione deve essere versata entro il 30 settembre 2019 a mezzo BONIFICO BANCARIO
						sul ns. c/c presso la Cassa Rurale di Trento.

						IBAN: IT58 P083 0401 8000 0000 4301 545 CAUSALE:

						QUOTA 2019/20 – NOME E COGNOME DELL’ATLETA

						Si precisa che eventuali ritiri, abbandoni e/o espulsioni disciplinari durante la stagione
						sportiva NON PREVEDONO la restituzione della quota versata. Il mancato pagamento impedirà
						l’accesso alla palestra.
					</div>
				</div>
			</div>

			<div class="col-sm-3" style="background-color: gray;">
				<div class="bxslider">
					{{ range (.Site.GetPage "sponsors").Pages }}
					<a href="{{ .Params.web }}"><img src="{{ .Params.logo }}" title="{{ .Title }}"
							style="width: 10%;"></a>
					{{ end }}
				</div>
			</div>

		</div>
	</div>
	<!-- MAIN: END -->

	<!-- FOOTER: START -->
	<footer>
		<div class="jumbotron text-center" style="background-color: #20265a;">
			<div class="col-sm-5" style="text-align: left">
				<p>Basket Club Gardolo 2000 ASD</p>
				<p>via Soprasasso, 1 - Gardolo</p>
				<p>38121 TRENTO</p>
				<p>C.F. 96005430226</p>
				<p>P.I. 01140120229</p>
			</div>
			<div class="col-sm-3">

			</div>
			<div class="col-sm-4" style="text-align: right">
				<p>
				<h3>Contatti:</h3>
				</p>
				<p>info@basketgardolo.it</p>
				<p>335-5389483</p>
			</div>
		</div>


		<div class="row">


		</div>
	</footer>
	<!-- FOOTER: END -->
</body>

</html>